<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Input text" formControlName="name" required/>
        <!-- {{ registrationForm.controls["name"].errors | json }} -->
        <span *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched"
          id="nameErrorMessage"
          class="text-danger">
            <span *ngIf="registrationForm.controls['name'].errors?.['required']"
              id="nameErrorMessage"
              class="text-danger">Name is required.</span>
            <span *ngIf="registrationForm.controls['name'].errors?.['minlength']"
              id="nameErrorMessage"
              class="text-danger">Name must be at least 6 characters long.</span>
        </span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" formControlName="email" required/>
        <span *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched"
        id="nameErrorMessage"
        class="text-danger">
          <span *ngIf="registrationForm.controls['email'].errors?.['required']"
            id="emailErrorMessage"
            class="text-danger">Email is required.</span>
          <span *ngIf="registrationForm.controls['email'].errors?.['emailMatchRegex']"
            id="emailErrorMessage"
            class="text-danger">Invalid email.</span>
        </span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" formControlName="password" required/>
        <span *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched"
          id="passwordErrorMessage"
          class="text-danger">          
          <span *ngIf="registrationForm.controls['email'].errors?.['required']"
          id="passwordErrorMessage"
          class="text-danger">Password is required.</span>
        </span>
      </div>
    </div>
    <div class="form__action">
      <app-button buttonText="login"></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <strong>Login</strong>
    </div>
  </div>
</div>