<h2 class="text-align-center" (click)="resetForm()">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" novalidate>
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            #emailField="ngModel"
            required
            emailValidator
            type="text"
            id="email"
            placeholder="Input text"
            name="email"
            ngModel
          />
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="
              emailField.invalid && (emailField.touched || loginForm.submitted)
            "
          >
            <span *ngIf="emailField.errors?.['required']"
              >Email is required.</span
            >
            <span *ngIf="emailField.errors?.['isInvalid']">Invalid email.</span>
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            #password="ngModel"
            required
            type="password"
            id="password"
            placeholder="Input text"
            name="password"
            ngModel
          />
          <span
            *ngIf="password.errors?.['required'] && (password.touched || loginForm.submitted)"
            id="passwordErrorMessage"
            class="text-danger"
            >Password is required.</span
          >
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button buttonText="login" (click)="submitForm()"></app-button>
          <span class="text-danger" *ngIf="failedLogin">
            Invalid email address or password provided.
          </span>
        </div>
        <div class="form__text">
          If you don't have an account you may
          <strong><a [routerLink]="['/registration']">Registration</a></strong>
        </div>
      </div>
    </div>
  </form>
</div>
