<app-header>
  Harry Potter <app-button [buttonText]="'Logout'"></app-button>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <app-info>
    <app-button [buttonText]="'Add new course'"></app-button>
  </app-info>
 
  <!-- Course Card component -->
  <!-- <app-course-card (clickOnShow)="handleClickOnShow()">
    <app-button [iconName]="'trash-can'"></app-button><app-button [iconName]="'pencil'"></app-button>
  </app-course-card>

  <app-course-card [editable] = "false">
    <app-button [iconName]="'trash-can'"></app-button><app-button [iconName]="'pencil'"></app-button>
  </app-course-card> -->

  <app-courses-list></app-courses-list>

  <app-course-info></app-course-info>
  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->
 
  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
