<div style="display: flex;">
<app-search (search)="handleSearchClicked($event)"></app-search>
<div style="display: flex; flex-grow: 1; justify-content: flex-end;">
  <app-button *ngIf="this.userStore.isAdmin$ | async" [buttonText]="'Add new course'" (click)="handleAddCourseClick()"></app-button>
</div>
</div>
<app-courses-list [courses]="(coursesStore.courses$ | async) ?? []" [editable]="userStore.isAdmin$" (showCourse)="handleShowCourse($event)" (deleteCourse)="handleDeleteCourse($event)"
></app-courses-list>